@import '~bootstrap/scss/bootstrap';

.hidden {
  display: none;
}

.flex {
  display: flex;
}

header {
  align-items: center;
  display: flex;
  font-family: 'Permanent Marker', cursive;
  justify-content: center;
}

span {
  font-family: 'Permanent Marker', cursive;
}

body {
  background-attachment: fixed;
  background-image: url('./public/kumo-logo-1.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Mogra', cursive;
  height: 100%;
  opacity: 0.9;
  width: 100%;
}

img {
  height: 150px;
  padding-left: 33px;
  padding-top: 20px;
  width: 150px;
}

h1 {
  margin-left: 15px;
  text-align: left;
}

.dropdown-menu {
  top: 60%;
}

.auth {
  display: flex;

  .btn {
    &:hover {
      background-color: rgba(0, 0, 0, 0.7);
    }
  }

  .btn-secondary {
    &:hover {
      background-color: rgba(0, 0, 0, 0.9);
    }
  }

  .dropdown-menu {
    padding: 5px;
  }

  .sign-up-form {
    display: flex;
    flex-direction: column;
  }

  .sign-in-form {
    display: flex;
    flex-direction: column;
  }

  .change-password-dropdown {
    display: flex;
    flex-direction: column;
  }
}

.sign-up-dropdown {
  right: 40px;
}

.ch-menu {
  right: 110px;
}

.upload-messages {
  align-items: center;
  display: flex;
  font-size: 25px;
  padding: 20px;
  justify-content: center;
}

.body {
  display: flex;
}

.uploads {
  padding-left: 2%;

  .hover {
    &:hover {
      background-color: rgba(0, 0, 0, 0.9);
    }
  }
}

.upload-form-dropdown-menu {
  align-items: center;
  padding-left: 20px;
}

.thead {
  text-align: center;
}

.table-hover tbody:hover {
  background-color: rgba(133, 139, 218, 0.7);
}

.upload-body-table {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 2%;
}

.card-body {
  background-color: rgba(255, 255, 255, 0.4);
}
